In [2]:
from data import parse_reuters_articles
import pandas as pd
# python3 -m pip install pandas pyarrow

In [3]:
articles = parse_reuters_articles("../REUTERS_CORPUS_2")

In [5]:
articles[0]

{'id': '632411',
 'date': '1997-06-02',
 'codes': ['C12', 'CCAT', 'GCAT', 'GCRIM'],
 'headline': 'Seoul court jails 10 in Hanbo corruption scandal.',
 'text': 'A South Korean court on Monday handed lengthy jail sentences to the founder of the Hanbo Group and nine others, including lawmakers and former top bankers, in a corruption scandal that has rocked the nation. The founder of the country\'s 14th largest business conglomerate, Chung Tae-soo, was jailed for 15 years and his son Chung Bo-keun, three years for bribery and embezzlement. Chung junior is Hanbo\'s current chairman. The court heard evidence that Hanbo\'s 74-year-old patriach handed out huge sums of cash hidden in apple crates to politicians and bankers to keep loans rolling in to the group\'s steelmaking flagship, which collapsed in January under debts of five trillion won ($5.6 billion). A total of 11 people were standing trial in the Seoul District Criminal Court in a case that has deeply embarrassed President Kim Young-sam, and led to the arrest of his son. Among those jailed were several of Kim\'s closest aides. Hanbo\'s former financial controller was given a 2-1/2 year jail term suspended for four years. "Your wrongdoing has caused a great shock to the Korean people, harm to the country\'s economy and chaos in society," chief judge Son Ji-yol told the ailing Chung Tae-soo, who entered the court supported by a prison officer. Former Home Affairs minister Kim Woo-suk was jailed for four years. Among the lawmakers, Hong In-gil of the ruling New Korea Party received the heaviest punishment with a seven-year jail sentence. Two other ruling party lawmakers, Hwang Byung-tai and Chung Jae-chull, were both jailed for three years. Another member of the National Assembly, Kwon Roh-kap of the main opposition National Congress for New Politics, was handed a five-year prison term. Two former presidents of Korea First Bank, Sheen Kwang-shik and Rhee Chul-soo, were jailed for four years and five years respectively for accepting bribes. The bank was the largest creditor to Hanbo Steel. The one-time president of Chohung Bank, Woo Chan-mok, was jailed for four years. "This case has caused great suffering to our society and economy and now we must view it as a lesson of history," judge Son said before sentencing. "Our society should use this opportunity to break from a past where morality and reasoning were lacking and move towards a better economy and society." Chung Tae-soo, who suffered a stroke after his arrest, appeared haggard and unshaven. '}

In [29]:
df = pd.DataFrame(articles)
df = df.convert_dtypes()
df["date"] = pd.to_datetime(df["date"])
dataset = df[["date", "headline", "text", "codes"]]
del df
dataset.to_feather("data.ft") # 1.4 GB > 275 MB
del dataset

## If you have "data.ft" already - start here

In [5]:
import pandas as pd
# reads in 1 sec
dataset = pd.read_feather("data.ft")

In [6]:
dataset.head()

,date,headline,text,codes
0,1997-06-02,Seoul court jails 10 in Hanbo corruption scandal.,A South Korean court on Monday handed lengthy ...,"[C12, CCAT, GCAT, GCRIM]"
1,1997-06-02,"Rouble fixed at 3,370 per mark in Moscow.","The rouble was set at 3,370 to the German mark...","[M13, M132, MCAT]"
2,1997-06-02,"SAKU FALLS ON SUSPENSION FEAR, OTHERS QUIET.",Saku Brewery fell 17 percent on the Tallinn bo...,"[M11, MCAT]"
3,1997-06-02,Coca-Cola's Powerade is NHL choice - WSJ.,Coca-Cola Co's Powerade may soon be the sport ...,[GSPO]
4,1997-06-02,"BUCHAREST BOURSE AVERAGE PRICES UP, VOLUME SLIPS.",The average prices of most Bucharest bourse li...,"[C15, C152, CCAT, M11, MCAT]"

In [7]:
dataset.shape

(299773, 4)

## Dataset splitting

- shuffle 
- encode with s-bert
- 90% / 5% / 5%

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(dataset, test_size=0.1, random_state=0, shuffle=True)
X_val = X_test[:int(X_test.shape[0]/2)]
X_test = X_test[int(X_test.shape[0]/2):]